<style media="screen">
  .sumo-product-container {
    background: transparent;
  }
</style>

<% title 'Business - Partner with us to reach 100,000+ ready customers' %>
<% snippet 'Partner with RightApp4U to market and sell your software (or other) products to 100,000+ ready customers. RightApp4U is a TIGER-SIZED distribution channel for your product.' %>

<section class="sumo-section sumo-bg-dark sumo-careers-1 text-center sumo-bar-b">
  <div class="container">
    <div class="row my-5">
      <div class="col">
        <h1 class="my-5 sumo-text-large sumo-hustler-text-large">Business</h1>
        <p class="big" style="margin-top:-18px;">Partner with us to market and sell your software (or product) to 100,000+ ready customers</p>
      </div>
    </div>
  </div>
</section>

<section class="subtle-background mb-5">
  <div class="container">
    <div class="row mb-5">
      <section class="sumo-section col-sm-12 sumo-product-container sumo-featured">
        <div class="row">
          <div class="col-sm-12">
            <!-- Heading -->
            <div class="sumo-product-header mb-4 text-center">
              <h2 class="sumo-product-name mt-5">A TIGER-SIZED distribution channel <br /> for your product.</h2>
              <p class=" mt-5">
                <span style="font-size:24px;font-weight:bold;">RightApp4U</span> helps <b>professionals such as Accountants, Tax Professionals, Architects, Interior Designers, HVAC Consultants etc., and great entrepreneurs find great solutions to their professional needs through handpicked daily, weekly, monthly, quarterly and yearly product deals.</b>
              </p>
            </div>
          </div>
        </div>
        <div class="row mt-4 mb-4">
          <!-- Intro-->
          <div class="col-sm-12">
            <p class="ml-4 mr-4">We are a distribution channel for companies that help entrepreneurs <b>start, grow, optimize, and scale</b> their businesses.</p>
            <p class="ml-4 mr-4"><b>We connect them to hundreds of thousands of potential new customers</b> using email marketing, social networks, and display ad campaigns.</p>
            <p class="ml-4 mr-4">Our goal is to bring our partners the <b>happiest lifetime customers</b>—and to get there,we’re always on the lookout for <b>the best tools and education for entrepreneurs.</b></p>
          </div>
        </div>

        <div class="" style="background:#ddd;padding:1px 9px 9px 9px;">
          <div class="row mt-5 mb-4">
            <!-- Meet the Customers -->
            <div class="col-sm-12">
              <h2 class="text-center mb-4" style="font-weight:300!important; color:#414141!important;">Enough about us, meet your potential customers!</h2>
              <div class="text-center">
                <small style="font-weight:900!important;">The No. 1 reason customers join RightApp4U?</small><br>
                <small style="font-weight:400!important;">To discover new solutions to their professional problems</small>
              </div>
            </div>
          </div>
          <div class="row mt-5 mb-4">
            <!-- The Customers -->
            <div class="col-sm-12">
              <p class="ml-4 mr-4">RightApp4U customers are chartered accountants, company secretaries, architects, doctors, consultants, interior designers, entrepreneurs, freelancers, designers, developers, and professionals.</p>
              <p class="ml-4 mr-4"> Everyone with entrepreneurial dreams that haven’t taken the plunge yet, all looking for the best tools and education to achieve their professional goals.</p>
              <p class="ml-4 mr-4" style="font-weight:600!important;">Generally, we can break our customers down into two groups:</p>
              <ol>
                <li class="mb-2" style="font-size:16px;">“Wantrepreneurs” with an idea for a business seeking knowledge and motivation to get started</li>
                <li style="font-size:16px;">Entrepreneurs/SMB’s looking for the best tools and key knowledge to move their business forward</li>
              </ol>
            </div>
          </div>
        </div>

        <div class="row mt-5 mb-4">
          <!-- We Built It -->
          <div class="col-sm-12">
            <h2 class="text-center mb-4" style="font-weight:300!important; color:#414141!important;">We have built it, and they have come.</h2>
            <div class="text-center">
              <small style="font-weight:300!important;">A few numbers to give you an idea of what’s possible when we throw our weight around.</small><br>
              <div class="mt-4">
                <!-- <p>130,000+ Twitter Followers</p>
                <p>80,000+ Facebook Fans</p> -->
                <p>100,000+ Newsletter Subscribers and growing exponentially</p>
                <p>A large enough amount of money spent p.m. on advertising to promote our partners</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-5 mb-4" style="background:#ddd;padding:36px 9px 18px 9px;">
          <!-- We Made Friends -->
          <div class="col-sm-12">
            <h2 class="text-center mb-4" style="font-weight:300!important; color:#414141!important;">We've made some good friends over the past years.</h2>
            <div class="text-center">
              <small style="font-weight:300!important;">Some brands we respect that we’ve had the pleasure of promoting on RightApp4U. I don’t know how to put this … but these guys are kind of a big deal.</small><br>
              <div class="mt-3">
                <ul style="list-style:none;font-weight:400;">
                  <li class="mb-2" style="font-size:16px;">Kaspersky</li>
                  <li class="mb-2" style="font-size:16px;">Kensington</li>
                  <li class="mb-2" style="font-size:16px;">Vipre</li>
                  <li class="mb-2" style="font-size:16px;">Microsoft</li>
                  <li class="mb-2" style="font-size:16px;">HP</li>
                  <li class="mb-2" style="font-size:16px;">Lenovo</li>
                  <li class="mb-2" style="font-size:16px;">Dell</li>
                  <!-- <li class="mb-2" style="font-size:16px;">Followup.cc</li>
                  <li class="mb-2" style="font-size:16px;">Piktochart</li> -->
                </ul>
                <p>In the end, we paid out <b>a large sum of money</b> to our partners over these years. That’s a lot of kaapi money :)</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-5 mb-4">
          <!-- Benefit -->
          <div class="col-sm-12">
            <h2 class="text-center mb-4" style="font-weight:300!important; color:#414141!important;">Can you benefit from a RightApp4U promotion?</h2>
            <br>
            <div class="">
              <p class="ml-4 mr-4 mb-2" style="font-size:16px;">Do you have a professional tool or course and want to get it in front of hundreds of thousands of potential lifetime customers at no upfront cost?</p>
              <p class="ml-4 mr-4 mb-2" style="font-size:16px;">Do you already have an online product/presence that you want to improve?</p>
              <p class="ml-4 mr-4 mb-2" style="font-size:16px;">Do you already have a small but loyal customer base, and want to crank up the throttle?</p>
              <p class="ml-4 mr-4 mb-2" style="font-size:16px;">Are you great at creating amazing products but having a hard time with marketing it yourself?</p>
            </div>
          </div>
        </div>
        <div class="row mt-5 mb-4">
          <!-- The Application -->
          <div class="col-sm-12 text-center">
            <p><b>If you answered yes to any of these questions, we'd love to hear from you!</b></p>
            <br>
            <div id="wufoo-m19f8phz17ajpad">
              Fill out my <a href="https://rightapp4u.wufoo.com/forms/m19f8phz17ajpad">online form</a>.
              </div>
              <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">Use <a href="http://www.wufoo.com/gallery/templates/">Wufoo templates</a> to make your own HTML forms.</div>
              <script type="text/javascript">var m19f8phz17ajpad;(function(d, t) {
              var s = d.createElement(t), options = {
              'userName':'rightapp4u',
              'formHash':'m19f8phz17ajpad',
              'autoResize':true,
              'height':'1401',
              'async':true,
              'host':'wufoo.com',
              'header':'show',
              'ssl':true};
              s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'secure.wufoo.com/scripts/embed/form.js';
              s.onload = s.onreadystatechange = function() {
              var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
              try { m19f8phz17ajpad = new WufooForm();m19f8phz17ajpad.initialize(options);m19f8phz17ajpad.display(); } catch (e) {}};
              var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
              })(document, 'script');</script>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
