<% title 'Contact Us' %>
<% snippet 'Get in touch with RightApp4U' %>

<section class="sumo-section sumo-bg-dark sumo-careers-1 text-center sumo-bar-b">
  <div class="container">
    <div class="row my-5">
      <div class="col">
        <h1 class="my-5 sumo-text-large sumo-hustler-text-large">Contact Us!</h1>
      </div>
    </div>
  </div>
</section>

<section class="sumo-section text-center">
  <div class="container">
    <div class="row my-5">
      <div class="col-md-8 offset-md-2">
        <p>Hello there! Thank you for being a part of the RightApp4U (a unit of Mittaltiger Enterprises) family!</p>
        <p>Are you looking for answers? (Aren't we all?) If so, we recommend checking out our <b>FAQs</b> page, found <b><a href= "https://rightapp4u.helpsite.com/" target="_blank">here</a></b>.</p>
        <p> If you can't find an answer to your question in our FAQ, please email us at <b><a href="mailto:support@rightapp4u.com">support@rightapp4u.com</a></b>.</p>
        <p>Please keep in mind that our <b>standard (holidays and special taco occasions excluded) operating business hours are Monday - Friday 10:00 AM - 6:00 PM IST</b> and average response time is within 1 business day (Monday - Friday). We appreciate your patience and look foward to meeting your expectations. :) </p>
        <p>Stay hustlin', Tiger-ites!</p>
        <br>
      </div>
    </div>
  <div>
</section>
