<% title 'Terms and Conditions' %>
<% snippet 'Terms and Conditions at RightApp4U' %>

<section class="sumo-section sumo-bg-dark sumo-careers-1 text-center sumo-bar-b">
  <div class="container">
    <div class="row my-5">
      <div class="col">
        <h1 class="my-5 sumo-text-large sumo-hustler-text-large">Terms and Conditions</h1>
      </div>
    </div>
  </div>
</section>

<section class="height-container">
  <div class="container mt-5 pt-1 mb-3">
    <h2>Hey Tiger-ite!</h2>
    <p>
      Welcome to our super boring (but according to our lawyer, totally necessary) terms and conditions page.
      <br>
      They'll walk you through how our business operates and what you can expect from us :-)
      <br>
      As a tiger-ite, we strive to always do whatever we can to make sure you're 100% happy including our industry best deals, no-questions asked 60ish day return policy and kaapi-powered customer service. However, due to the very nature of our business where we sell 3rd party software, courses, applications and other products, there are certain things that we can't directly control. Regardless, we still want you to know that we'll always strive to have your back to the best of our ability which is where the below comes in.
      <br>
      Enjoy and thanks for being an awesome tiger-ite!
      <br>
      Thanks,
      <br>
      RightApp4U Team (a unit of Mittaltiger Enterprises)
    </p>

    <h3><strong>Terms of Use</strong></h3>

    <p>
      Welcome to the RightApp4U Site (defined below). By using it, you are agreeing to these Terms of Use (defined below). Please read them carefully because they contain terms that may affect your legal rights. If you have any questions, contact us here at support@rightapp4u.com.<br>
      These Terms of Use were last updated on Feb 10, 2019.
    </p>

    <p>
      <strong>1.	Your Acceptance of the Terms of Use</strong><br>
      Mittaltiger Enterprises Group. (“RightApp4U”, “we” or “us” or “our”) owns and operates the website, www.rightapp4u.com, the mobile version and any sites we have now or in the futures that reference these Terms of Use (collectively, “Site”). If you visit or shop through the Site, you agree to these Terms of Use (defined below) together with any documents they expressly incorporate by reference. IF YOU DO NOT AGREE TO THE TERMS OF USE, IMMEDIATELY STOP ACCESSING OR USING THE SITE AND/OR SERVICES. BY USING THE SITE AND/OR SERVICES, YOU HAVE ACCEPTED THE TERMS.
    </p>

    <p>
      <strong>2.	About the Site, Product Offers, Refunds and Credits.</strong><br>

      a.	The Site is a platform through which certain third party affiliates offer products for entrepreneurs (“Merchant Products”). The Refund policy for any product sale is a full refund of the purchase price sixty (60) days from the date of purchase for any reason or no reason.<br>
      b.	Our Sites and/or Services, or communications you receive from our Sites and/or Services may include third-party content that we do not control, maintain or endorse. Merchants are the sellers and issuers of the Merchant Products and are solely responsible to you for the quality of the products provided. RightApp4U shall not be liable for any claim arising out of or relating to the Merchant Products, including but not limited to, any claims for false advertising, product defects, personal injury, death or property damages.<br>
      c.	From time to time, we may allow you to purchase RightApp4U Credits (the “Credits”). Normally these Credits are offered at a discount to the actual number of Indian Rupees they represent. For example, we sold ₹3000 of Credits for a purchase price of ₹1750 INR during an RightApp4U deal once. Similar to the Merchant Products, we offer a full refund of such purchase price during the sixty (60) day period immediately following the purchase of the Credits. You won’t have to provide us any reasoning for this refund.<br>
      d.	If you purchase a Merchant Product using Credits and request a refund for the Merchant Product, we will issue the refund in Credits.
    </p>

    <p>
      <strong>3.	Privacy</strong> <br>
      We will never sell your information to third-party marketers. Your privacy is very important to us. Our Privacy Policy makes important disclosures about how we collect, use and protect your personal information. You agree that all information you provide to register with this Site or otherwise, including but not limited to through the use of any interactive features on the Site, is governed by our Privacy Policy which is incorporated herein by reference and located at <%= pages_privacy_url %>.
    </p>

    <p>
      <strong>4.	Changes to Terms of Use</strong><br>

      RightApp4U reserves the right, at our discretion, to change, modify or otherwise alter the Terms of Use at any time. All changes are effective immediately when we post them, and apply to all access to and use of the Site thereafter. Your continued use of the Site following the posting of revised Terms of Use means that you accept and agree to the changes. You are expected to check this page regularly so you are aware of any changes, as they are binding on you. Any changes to the Terms of Use will not apply retroactively.
    </p>

    <p>
      <strong>5.	Access to the Site</strong> <br>

      a.	Account Registration. To access the Site or some of the resources it offers, you may be asked to provide certain registration details or other information. It is a condition of your use of the Site that all the information you provide on the Site is correct, current and complete.
      <br>
      b.	Account Security. You acknowledge that your account is personal to you and agree not to provide any other person with access to this Site or portions of it using your user name, password or other security information. You agree to notify us immediately of any unauthorized access to or use of your user name or password or any other breach of security.
      <br>
      c.	Changes to Site/Services. We reserve the right to withdraw or amend this Site, and any service or material we provide on the Site, in our sole discretion without notice. We will not be liable if for any reason all or any part of the Site is unavailable at any time or for any period. From time to time, we may restrict access to some parts of the Site, or the entire Site, to users, including registered users.
      <br>
      d.	Termination.  We have the right to disable any user name, password or other identifier, whether chosen by you or provided by us, at any time in our sole discretion if, in our opinion, you have violated any provision of these Terms of Use. Termination by RightApp4U shall include removal of access to all Services, deletion of your password, and deletion of all related information and files.
      <br>
      e.	Minimum Age. The Site and Services are intended solely for persons who are 18 years of age or older. Any access to or use of the Site or Services by anyone under 18 years of age is expressly prohibited. By accessing or using the Site or Services, you represent and warrant that you are 18 years old or older. We are super Tiger serious about this provision. No kids please.
    </p>

    <p>
      <strong>6.	Use of the Site</strong> <br>

      a.	Limited License. By using the Site and accepting these Terms of Use, RightApp4U grants you a limited, personal, nontransferable, nonexclusive revocable license to use the Site pursuant to these Terms of Use and to any additional terms and policies set forth by RightApp4U.
      <br>
      b.	Prohibited Uses. You are expressly prohibited from:
      <br>
      i.	Using the Site or Services for any commercial or competitive purpose whatsoever without the express prior written permission of RightApp4U.
      <br>
      ii.	Collecting personally identifiable information about others, including e-mail addresses.
      <br>
      iii.	Using the Site and/or Services to generate unsolicited email advertisements or spam
      <br>
      iv.	Using any manual process to monitor or copy any of the material on the Site or for any other unauthorized purpose without our prior written consent.
      <br>
      v.	Using any robot, spider or other automatic device, process or means to access the Site for any purpose, including monitoring or copying any of the material on the Site.
      <br>
      vi.	Introducing any viruses, trojan horses, worms, logic bombs or other material which is malicious or technologically harmful.
      <br>
      vii.	Taking any action that in any way that violates any applicable federal, state, local or international law or regulation (including, without limitation, any laws regarding the export of data or software to and from the US or other countries).
      <br>
      viii.	Engaging in any other conduct that restricts or inhibits anyone's use or enjoyment of the Site, or which, as determined by us, may harm the Company or users of the Website or expose them to liability.
      <br>
      ix.	Otherwise attempt to interfere with the proper working of the Site.
      <br>
      You agree not to reproduce, distribute, create derivative works from, publicly display, publicly perform, license, sell, trade, or re-sell any content, software, products or services obtained through the Site without the express permission of RightApp4U. RightApp4U reserves the right to determine whether or not your use of the Site or Services is consistent with the Terms of Use. We may suspend, restrict or terminate your use of the Site or Services if your use breaches or fails to comply with any of the Terms of Use. Additionally, we may seek any and all other remedies available to us, including seeking damages relating to any breach or failure to comply with any of the Terms of Use.
    </p>

    <p>
      <strong>7.	User Submitted Content</strong> <br>

      The Site may provide you the opportunity to post reviews, advice, comments, ratings, discussions and other content (“User Content”). You agree not to post any User Content that is illegal, obscene, threatening, defamatory, invasive of privacy, or infringing of intellectual property rights. You further agree not to post any User Content that contains commercial solicitation. By posting User Content, you grant RightApp4U a non-exclusive, royalty-free, perpetual, irrevocable and fully sub-licensable right to use, reproduce, modify, adapt, publish, create derivative works, and display such User Content throughout the world in any media. RightApp4U reserves the right but not the obligation to review, edit, post, refuse to post, and remove User Content.
    </p>

    <p>
      <strong>8.	Copyright Infringement Notice</strong> <br>

      If you are a copyright owner or such owner’s agent and believe any material on our Site constitutes an infringement on your copyright, please provide notification to the address listed below setting forth the following information: <br>
      (a) a physical or electronic signature of the copyright owner or a person authorized to act on his behalf; <br>
      (b) identification of the material that is claimed to be infringing;<br>
      (c) your contact information, including your address, telephone number, and an email; <br>
      (d) a statement by you that you have a good faith belief that use of the material is not authorized by the copyright owners; and  <br>
      (e) a statement that the information in the notification is accurate, and, under penalty of perjury you are authorized to act on behalf of the owner.
      <br>
      Contact information for RightApp4U’s Copyright Agent for notice of claims of copyright infringement is as follows:
      <br>
      Chetan Mittal <br>
      #302, Surya Prema Building, <br>
      No.15, 1st Cross, Raghuvanahalli, <br>
      Bengaluru, KA 560062 <br>
      support@RightApp4U.com
    </p>

    <p>
      <strong>9.	Intellectual Property</strong> <br>
      The Site and its entire contents, features and functionality (including but not limited to all information, software, text, displays, images, video and audio, and the design, selection and arrangement thereof), are owned by RightApp4U, its licensors or other providers of such material and are protected by United States and international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws. The material may not be copied, modified, reproduced, downloaded or distributed in any way, in whole or in part, without the express prior written permission of RightApp4U, unless and except as is expressly provided in these Terms of Use. Any unauthorized use of the material is prohibited.
    </p>

    <p>
      <strong>10.	Disclaimer of Warranties</strong> <br>
      AS PERMITTED BY APPLICABLE LAW, YOU EXPRESSLY AGREE THAT YOUR USE OF THE SITE, ITS CONTENT AND ANY SERVICES OR PRODUCTS OBTAINED THROUGH THE SITE IS AT YOUR OWN RISK. THE SITE, ITS CONTENT AND ANY SERVICES OR PRODUCTS OBTAINED THROUGH THE SITE ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT ANY WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. NEITHER RightApp4U NOR ITS MERCAHTS, THIRD PARTY CONTENT PROVIDERS OR LICENSORS NOR ANY OF THEIR OFFICERS, DIRECTORS, EMPLOYEES OR AGENTS MAKES ANY WARRANTY OR REPRESENTATION AS TO THE OPERATION OF THE SITE OR THE CONTENT, ANY INFORMATION CONTAINED ON THE SITE OR THE PRODUCTS, INCLUDING WITHOUT LIMITATION ANY WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT AND FITNESS FOR PARTICULAR PURPOSE.
    </p>

    <p>
      <strong>11.	Limitation of Liability</strong> <br>
      AS PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL RightApp4U, ITS AFFILIATES, SERVICE PROVIDERS, THIRD PARTY CONTENT PROVIDERS, MERCHANTS OR LICENSORS, PARTNERS, EMPLOYEES, AGENTS, OFFICERS OR DIRECTORS BE LIABLE FOR DAMAGES OF ANY KIND, UNDER ANY LEGAL THEORY, INCLUDING ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING BUT NOT LIMITED TO, PERSONAL INJURY, PAIN AND SUFFERING, EMOTIONAL DISTRESS, LOSS OF REVENUE, LOSS OF PROFITS, LOSS OF BUSINESS OR ANTICIPATED SAVINGS, LOSS OF USE, LOSS OF GOODWILL, LOSS OF DATA, AND WHETHER CAUSED BY TORT (INCLUDING NEGLIGENCE), BREACH OF CONTRACT OR OTHERWISE, EVEN IF FORESEEABLE, ARISING OUT OF OR IN CONNECTION WITH: (A)  YOUR USE OF THE SITE, THE CONTENT, USER CONTENT, INCLUDING WITHOUT LIMTIATION, ANY PERSONAL INFORMATION AND ANY OTHER INFORMATION CONTAINED IN THE SITE OR SUBMITTED BY YOU TO THE SITE (B) YOUR INABILITY TO USE THE SITE OR ANY SITES LINKED TO IT; (C) MODIFICATION OR REMOVAL OF CONTENT SUBMITTED ON THE SITE; (D) AFFIIATE OFFERINGS, PRODUCTS ACCESSIBLE THROUGH THE SITE; (E) ANY PRODUCTS OR SERVICES PURCHASED OR OBTAINED DIRECTLY FROM A THIRD PARTY CONTENT PROVIDER OR MERCHANT; (F) THESE TERMS OF USE OR (G) ANY IMPROPER USE OF INFORMATION YOU PROVIDE TO THE SITE, INCLUDING, WITHOUT LIMITATION, ANY PERSONAL INFORMATION. IN NO EVENT WILL RightApp4U’S LIABILITY IN CONNECTION WITH A PRODUCT, AND OTHER AVAILABLE PROGRAMS EXCEED THE AMOUNTS PAID FOR THE APPLICABLE PRODUCT, OR SERVICE. THE LIABILITY LIMITATIONS IN THIS SECTION ARE NOT INTENDED TO LIMIT ANY WARRANTY PROVIDED DIRECTLY BY A THIRD PARTY CONTENT PROVIDER OR MERCHANT.
    </p>

    <p>
      <strong>12.	Indemnification and Release</strong> <br>
      You agree to defend, indemnify and hold harmless RightApp4U, its affiliates, licensors and service providers, and its and their respective officers, directors, employees, contractors, agents, licensors, suppliers, successors and assigns from and against any claims, liabilities, damages, judgments, awards, losses, costs, expenses or fees (including reasonable attorneys' fees) arising out of or relating to your violation of these Terms of Use or your use of the Site, including, but not limited to (a) any violation of the Terms of Use by you (b) your use of the Site or Services (c) information provided by you to RightApp4U that you submit, transmit or otherwise make available through the Site or (d) any violation of any rights of another or harm you may have caused. RightApp4U shall retain sole control of the defense of any such claim. This indemnification provision shall be construed broadly in favor of RightApp4U.
      You are solely responsible for your interactions with Merchants and other users of the Site. To the extent permitted under applicable laws, you hereby release RightApp4U from any and all claims or liability related to any product or service of a Merchant, regardless of whether such product or service is available through the Site, any action or inaction by a Merchant, including, without limitation, but not limited to any harm caused to you by action or inaction of an Merchant, an Affiliate’s failure to comply with applicable law and/or failure to abide by the terms of a  other product or service purchased or obtained by you from the Merchant, any other third-party.
    </p>

    <p>
      <strong>13.	Force Majeure</strong> <br>

      RightApp4U shall be excused from performance under these Terms of Use, to the extent it is prevented or delayed from performing, in whole or in part, as a result of an event or series of events caused by or resulting from  weather conditions or other elements of nature or acts of God,  acts of war, acts of terrorism, insurrection, riots, civil disorders, or rebellion, quarantines or embargoes, labor strikes, error or disruption to major computer hardware or networks or software failures or other causes beyond the reasonable control of RightApp4U.
    </p>

    <p>
      <strong>14.	Assignment</strong> <br>

      You may not assign these Terms of Use, or any rights, benefits, or obligations hereunder, by operation of law or otherwise, without the express written permission of RightApp4U. Any attempted assignment that does not comply with these Terms of Use shall be null and void. RightApp4U may assign these Terms of Use in whole or in part, to any third-party in its sole discretion.
    </p>

    <p>
      <strong>15.	Entire Agreement</strong> <br>
      The Terms of Use, including, without limitation, the incorporated Privacy Policy and other terms incorporated by reference, constitute the sole and entire agreement between you and RightApp4U with respect to the Site and supersede all prior and contemporaneous understandings, agreements, representations and warranties, both written and oral, with respect to the Site.
    </p>

    <p>
      <strong>16.	Governing Law and Jurisdiction</strong> <br>
      All matters relating to the Site and these Terms of Use and any dispute or claim arising therefrom or related thereto (in each case, including non-contractual disputes or claims), shall be governed by and construed in accordance with the internal laws of the State of Texas without giving effect to any choice or conflict of law provision or rule. Any legal suit, action or proceeding arising out of, or related to, these Terms of Use or the Site shall be instituted exclusively in the federal courts of the United States or the courts of the State of Texas in Travis County. You waive any and all objections to the exercise of jurisdiction over you by such courts and to venue in such courts.
    </p>

    <p>
      <strong>17.	Arbitration</strong> <br>
      At RightApp4U’s sole discretion, it may require You to submit any disputes arising from the use of these Terms of Use or the Website, including disputes arising from or concerning their interpretation, violation, invalidity, non-performance, or termination, to final and binding arbitration under the Rules of Arbitration of the American Arbitration Association applying Texas law.
    </p>

    <p>
      <strong>18.	Additional Disclosures</strong> <br>
      No waiver of by you or RightApp4U of any term or condition set forth in these Terms of Use shall be deemed a further or continuing waiver of such term or condition or a waiver of any other term or condition, and any failure of RightApp4U to assert a right or provision under these Terms of Use shall not constitute a waiver of such right or provision. If any provision of these Terms of Use is held by a court or other tribunal of competent jurisdiction to be invalid, illegal or unenforceable for any reason, such provision shall be eliminated or limited to the minimum extent such that the remaining provisions of the Terms of Use will continue in full force and effect.
      You are contracting with Mittaltiger Enterprises Group. Correspondence should be directed to:
      <br>
      Mittaltiger Enterprises,<br>
      3rd Floor, Solarium Business Centre, <br>
      No.15, 1st Cross, Raghuvanahalli,<br>
      Kanakapura Main Road,<br>
      Bengaluru, Karnataka – 560062.<br>
      Attn: Legal Department
      <br><br>
      The provisions of these Terms of Use apply equally to, and are for the benefit of, RightApp4U, and its third-party content providers and licensors, and each shall have the right to assert and enforce such provisions directly.
    </p>
  </div>
</section>
