/* ---------- */
/* Onboarding */
/* ---------- */

/* Typography */
/* ---------- */
@media (min-width: 576px) {
	html,
	body,
	p,
	blockquote {
		font-size: 16px;
	}
}
p.big {
	font-size: 20px;
}
h1,
.h1 {
    font-size: 3rem;
  }

h2,
.h2 {
    font-size: 2.1rem;
}

h3,
.h3 {
	font-size: 1.5rem;
}

/* Header */
/* ------ */
@media (min-width: 992px) {
	header .navbar {
		height: 100px;
		transition: all 0.3s linear;
	}
}
header.noscroll-navbar .navbar ,
header .navbar-collapse {
	background: none;
	box-shadow: none;
}
@media (max-width: 991px) {
	header .navbar-collapse {
		position: absolute;
		background-color: rgba(0,68,70,1);
		padding-top: 30px;
		top: 70px;
		left: 0;
		right: 0;
	}
}
header.scroll-navbar .navbar {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#142620+0,004446+100 */
	background: rgb(20,38,32); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(20,38,32,1) 0%, rgba(0,68,70,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(20,38,32,1) 0%,rgba(0,68,70,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(20,38,32,1) 0%,rgba(0,68,70,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#142620', endColorstr='#004446',GradientType=0 ); /* IE6-9 */
}
header .navbar .nav-item {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
}
header .navbar .sumo-cart {
	background: none;
}
.navbar .sumo-cart-desktop {
	margin-top: -2px;
}

/* Backgrounds */
/* ----------- */

.sumo-bg-dark {
	background: #0A3638;
}
.sumo-bg-dark .btn-outline-primary:hover,
.sumo-bg-dark .btn-outline-primary:active,
.sumo-bg-dark .btn-outline-primary:focus {
	color: #0A3638 !important;
}
.sumo-bg-darker {
	background: #062324;
	color: #FFF;
}
.sumo-bg-darker .btn-outline-primary:hover,
.sumo-bg-darker .btn-outline-primary:active,
.sumo-bg-darker .btn-outline-primary:focus {
	color: #062324 !important;
}
.sumo-bg-gradient {
	color: #FFF;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#142620+0,004446+100 */
	background: rgb(20,38,32); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(20,38,32,1) 0%, rgba(0,68,70,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(20,38,32,1) 0%,rgba(0,68,70,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(20,38,32,1) 0%,rgba(0,68,70,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#142620', endColorstr='#004446',GradientType=0 ); /* IE6-9 */
}
.sumo-bg-gradient h1,
.sumo-bg-gradient h2,
.sumo-bg-gradient h3,
.sumo-bg-gradient h4,
.sumo-bg-gradient h5,
.sumo-bg-gradient h6,
.sumo-bg-darker h1,
.sumo-bg-darker h2,
.sumo-bg-darker h3,
.sumo-bg-darker h4,
.sumo-bg-darker h5,
.sumo-bg-darker h6 {
	color: inherit;
}

/* General */
/* ------- */
main {
	margin-top: 0;
}
@media (max-width: 575px) {
	body {
	}
	footer {
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	body {
		padding-bottom: 300px;
	}
	footer {
		height: 300px;
	}
}
footer {
	background: #000;
	border: none;
	font-size: 12px;
}
footer h5 {
	text-transform: uppercase;
}
footer .sumo-footer-text {
	font-size: 1em;
}
.sumo-onboarding-page .small {
	font-size: 85%;
}

/* Carousel */
/* -------- */
.sumo-testimonial-carousel {
	max-width: 1080px;
	margin: 0 auto;
}
.sumo-testimonial-carousel .carousel-control-prev-icon,
.sumo-testimonial-carousel .carousel-control-next-icon {
	width: 3.5rem;
	height: 3.5rem;
}
.sumo-testimonial-carousel .carousel-control-next,
.sumo-testimonial-carousel .carousel-control-prev {
	transition: all 0.3s;
}
.sumo-testimonial-carousel .sumo-testimonial {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	min-height: 260px;
	font-size: 0.85rem;
	text-align: center;
}
@media (min-width: 375px) {
	.sumo-testimonial-carousel .sumo-testimonial {
		min-height: 320px;
		font-size: 1.1rem;
	}
}
@media (min-width: 500px) {
	.sumo-testimonial-carousel .sumo-testimonial {
		min-height: 290px;
	}
}
@media (min-width: 768px) {
	.sumo-testimonial-carousel .sumo-testimonial {
		min-height: 250px;
		text-align: left;
	}
}
@media (min-width: 992px) {
	.sumo-testimonial-carousel .sumo-testimonial {
		min-height: 200px;
	}
}
.sumo-testimonial-carousel .sumo-testimonial:before,
.sumo-testimonial-carousel .sumo-testimonial:after {
	display: block;
	text-align: center;
	color: #868686;
	font-size: 2rem;
	position: absolute;
	width: 100%;
	height: 1.2rem;
	line-height: 1;
}
.sumo-testimonial-carousel .sumo-testimonial:before {
	content: "\201C";
	top: 0;
}
.sumo-testimonial-carousel .sumo-testimonial:after {
	content: "\201D";
	bottom: 0;
}
.sumo-testimonial-carousel .carousel-item blockquote {
	color: #828282;
	font-size: 1.1em;
	font-style: italic;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	padding: 40px 20px;
}
.sumo-testimonial-carousel .carousel-control-next-icon {
	background-image: asset_url('svg/baseline-keyboard_arrow_right-24px.svg');
}
.sumo-testimonial-carousel .carousel-control-prev-icon {
	background-image: asset_url('svg/baseline-keyboard_arrow_right-24px.svg');
  -webkit-transform: rotate(180deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: rotate(180deg); /* IE 9 */
          transform: rotate(180deg); /* IE 10, Fx 16+, Op 12.1+ */
}


/* About Page */
/* ---------- */
.sumo-about-highlight {
	line-height: 1.7;
}
.sumo-about-highlight .sumo-contain {
	display: inline-block;
	max-width: 750px;
	margin-top: 0.2em;
}
.sumo-about-highlight .sumo-contain span {
	display: inline;
	padding: 0.2em;
	background: #FFBC00;
	box-shadow: 0.4em 0 0 #FFBC00, -0.4em 0 0 #FFBC00;
}
.sumo-about-fact {
	max-width: 155px;
	padding: 10px 0;
}
.sumo-about-fact .header {
	font-size: 2rem;
}
.sumo-about-3 {
	position: relative;
}
.sumo-about-3:before {
	content: "";
	display: block;
	width: 100%;
	height: 50%;
	background-color: #F5F5F5;
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
}
@media (max-width: 991px) {
	.sumo-about-3:before {
		height: 81%;
	}
	.sumo-about-3 .card {
		background: none;
		box-shadow: none;
	}
	.sumo-about-3 .sumo-about-fact {
		max-width: 45%;
		width: 45%;
		padding: 20px 10px;
		background: #FFF;
		margin: 2.5%;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	}
}
.sumo-about-4 .small.text-secondary {
	max-width: 250px;
	margin-left: auto;
	margin-right: auto;
}
.sumo-about-6 .sumo-story-cell {
	background-color: #F5F5F9;
}
.sumo-about-6 .sumo-story-cell .sumo-block {
	padding: 80px;
}
@media (max-width: 767px) {
	.sumo-about-6 .sumo-story-cell .sumo-block {
		padding: 80px 40px;
	}
}
.sumo-about-6 .sumo-story-cell .header:after {
	content: "";
	display: block;
	width: 75px;
	height: 5px;
	background: #FFA800;
	margin: 20px 0;
}
.sumo-about-6 .sumo-block-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
@media (max-width: 991px) {
	.sumo-about-6 .sumo-block-img {
		min-height: 400px;
	}
}
.sumo-about-6-b .sumo-block-img {
	background-image: asset_url('about/as-about-bengaluru-city-logo.png');
}
.sumo-about-6-c .sumo-block-img {
	background-image: asset_url('about/as-about-bengaluru-city-landscape.jpg');
}
.sumo-about-6-d .sumo-block-img {
	background-image: asset_url('about/as-about-team-kaapis.jpg');
}
.sumo-about-9 {
	overflow: hidden;
}
.sumo-about-9-a,
.sumo-about-9-b {
	position: relative;
}
.sumo-about-9-a:before,
.sumo-about-9-b:before {
	content: "";
	display: block;
	position: absolute;
	height: 100%;
	top: 0;
	bottom: 0;
	width: 150vw;
}
.sumo-about-9-a:before {
	left: -50vw;
	background: #0A3638;;
	z-index: -1;
}
.sumo-about-9-b:before {
	right: -50vw;
	background: #062324;
	z-index: -1;
}
@media (min-width: 992px) {
	.sumo-about-9-a:before,
	.sumo-about-9-b:before {
		width: 50vw;
	}
}
