<script type="text/javascript">
    /** This section is only needed once per page if manually copying **/
    if (typeof MauticSDKLoaded == 'undefined') {
        var MauticSDKLoaded = true;
        var head            = document.getElementsByTagName('head')[0];
        var script          = document.createElement('script');
        script.type         = 'text/javascript';
        script.src          = 'https://automation.rightapp4u.com/media/js/mautic-form.js';
        script.onload       = function() {
            MauticSDK.onLoad();
        };
        head.appendChild(script);
        var MauticDomain = 'https://automation.rightapp4u.com';
        var MauticLang   = {
            'submittingMessage': "Please wait..."
        }
    }
</script>

  <section class="sumo-section sumo-bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3 text-center mb-2">
        <style type="text/css" scoped>
        .mauticform_wrapper { max-width: 600px; margin: 10px auto; color: #6f6f6f; font-weight: 400; font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', 'sans-serif';font-size: 18px;}
        .mauticform-innerform {}
          .mauticform-post-success {}
            .mauticform-name { font-weight: bold; font-size: 1.5em; margin-bottom: 3px; }
            .mauticform-description { margin-top: 2px; margin-bottom: 10px; }
            .mauticform-error { margin-bottom: 10px; color: red; }
            .mauticform-message { margin-bottom: 10px;color: green; }
            .mauticform-row { display: block; margin-bottom: 20px; }
            .mauticform-label { font-size: 1.1em; display: block; font-weight: bold; margin-bottom: 5px; color: #21c5ba; }
            .mauticform-row.mauticform-required .mauticform-label:after { color: #e32; content: " *"; display: inline; }
            .mauticform-helpmessage { display: block; font-size: 0.9em; margin-bottom: 3px; }
            .mauticform-errormsg { display: block; color: red; margin-top: 2px; }
            .mauticform-selectbox, .mauticform-input, .mauticform-textarea { width: 100%; padding: 0.5em 0.5em; border: 0; border-bottom: 1px solid #21c5ba; background: #fff; box-sizing: border-box; }
            .mauticform-checkboxgrp-row {}
              .mauticform-checkboxgrp-label { font-weight: normal; }
              .mauticform-checkboxgrp-checkbox {}
                .mauticform-radiogrp-row {}
                  .mauticform-radiogrp-label { font-weight: normal; }
                  .mauticform-radiogrp-radio {}
                    .mauticform-button-wrapper .mauticform-button.btn-default { color: #21c5ba;background-color: #ffffff;border-color: #21c5ba;}
                    .mauticform-button-wrapper .mauticform-button { display: inline-block;margin-bottom: 0;font-weight: 600;text-align: center;vertical-align: middle;cursor: pointer;background-image: none;border: 1px solid transparent;white-space: nowrap;padding: 6px 12px;font-size: 18px;line-height: 1.3856;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
                    .mauticform-button-wrapper .mauticform-button.btn-default[disabled] { background-color: #ffffff; border-color: #dddddd;}
                    </style>

              <div id="mauticform_wrapper_subscriberightapp4uform" class="mauticform_wrapper">
                <h2 class="sumo-text-brand mb-3">Subscribe</h2>
                <p class="mb-3" style="color: #fff;">All our deals are time-sensitive! Make sure you don't miss any of our awesome limited-time offers.<p>
                <form autocomplete="false" role="form" method="post" action="https://automation.rightapp4u.com/form/submit?formId=1" class="md-form form-inline justify-content-center" id="mauticform_subscriberightapp4uform" data-mautic-form="subscriberightapp4uform" enctype="multipart/form-data">
                  <div class="mauticform-error" id="mauticform_subscriberightapp4uform_error"></div>
                  <div class="mauticform-message" id="mauticform_subscriberightapp4uform_message"></div>
                  <div class="mauticform-innerform">

                      <div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">

                          <div id="mauticform_subscriberightapp4uform_email" data-validate="email" data-validation-type="email" class="mauticform-row mauticform-email mauticform-field-1 mauticform-required">
                              <input id="mauticform_input_subscriberightapp4uform_email" name="mauticform[email]" value="" placeholder="Valid Email Address" class="mauticform-input" style="font-weight:400;" type="email">
                              <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                          </div>

                          <div id="mauticform_subscriberightapp4uform_email2" style="display:none" class="mauticform-row mauticform-email mauticform-field-2">
                            <label id="mauticform_label_subscriberightapp4uform_email2" for="mauticform_input_subscriberightapp4uform_email2" class="mauticform-label">email2</label>
                            <input id="mauticform_input_subscriberightapp4uform_email2" name="mauticform[email2]" value="" class="mauticform-input" type="email">
                            <span class="mauticform-errormsg" style="display: none;"></span>
                          </div>

                          <div id="mauticform_subscriberightapp4uform_send_me_deals_now" class="mauticform-row mauticform-button-wrapper mauticform-field-3">
                              <button type="submit" name="mauticform[send_me_deals_now]" id="mauticform_input_subscriberightapp4uform_send_me_deals_now" value="" class="btn btn-primary mt-3 mt-lg-0">Send Me Deals Now &gt;&gt;&gt;</button>
                          </div>
                          </div>
                      </div>

                      <input type="hidden" name="mauticform[formId]" id="mauticform_subscriberightapp4uform_id" value="1">
                      <input type="hidden" name="mauticform[return]" id="mauticform_subscriberightapp4uform_return" value="">
                      <input type="hidden" name="mauticform[formName]" id="mauticform_subscriberightapp4uform_name" value="subscriberightapp4uform">

                      </form>
                    </div>

                  </div>
                </div>
              </div>
            </section>
